form {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 30vw;
    height: 40vh;
    border: 1px solid black;
    border-radius: 10px;
}

button {
    width: 10vw;
    height: 5vh;
    border-radius: 5px;
    margin: 2vh;
}

input {
    margin-bottom: 2vh;
}

select {
    margin-bottom: 2vh;
}